.ui.three.column.middle.aligned.stackable.grid.fadeIn.dashboard
  .row
    .centered.aligned.column.text-centered
      +statistics value=usersCount label=usersLabel
    .ui.vertical.divider &amp;
    .centered.aligned.column.text-centered
      +statistics value=subscribersCount label=subscribersLabel
    .ui.vertical.divider &amp;
    .centered.aligned.column.text-centered
      +statistics value=programsCount label=programsLabel
  .ui.divider
